@use 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: variables.$font-stack;
}

body {
  background-color: variables.$background-color;
}

li {
  list-style: none;
}

.container {
  max-width: variables.$container-width;
  width: 100%;
  margin: 0 auto;
}
